
hr {
	border-width: 2px;
}
body {
	font-family: 'Fredoka One', cursive;
}

/* navbar modifications */

.navbar-toggle .icon-bar:nth-of-type(2) {
	 top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

a.navbar-brand {
	color: #EF6C00;
}
.navbar-collapse > ul > li > a {
	color: white;
}
.navbar {
	border-radius:0px;
	font-family: 'Fredoka One', cursive;
}
.nav > li > a:hover {
	background-color: #303030;
}
#greeting {
	margin-right:10px;
}



/* Question css */

#question-image {
	border: 3px solid  #424242;
    display: block;
    margin: auto;
    max-height:300px;
    max-width:90%;
    width: auto;
    height: auto;
}

.image-wrapper {
	padding: 20px;
	margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.question {
	text-align: center;
	padding: 10px;
	
}

.question > button {
	font-size: 20px;
	width: 250px;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	border-radius: 10px;
	
   
}
.question > button:hover {
	box-shadow: 0 0 10px 5px #424242;
}
.funtion-buttons {
	text-align:center;
	font-size: 20px;
	padding-top:10px;
}

#title {
	text-align: center;
	padding: 5px;
	font-size: 40px;
}
#question {
	font-size: 30px;
	padding-top:15px;
}

/* Main colors */

.mainColor1 {
	background-color: #212121;
	color: white;
}

.mainColor2 {
	background-color: #303030;
	color: white;
	box-shadow: 20px 20px 22px #212121;
}
.mainColor3 {
	background-color: #424242;
	color: white;
}
.accentColor {
	background-color: #EF6C00;
	color: white;
}

/* Thumbnail modifications */

.tile > p:nth-of-type(1) {
	color: white;
	transition: 1s;
    opacity:0;
}

}
.tile > p:nth-of-type(2) {
	text-align: right;
	
}
.card {
	
	z-index: 0;
    position: relative;
    overflow: hidden;
    max-height: 400px;
    min-height: 300px;
    color: #212121;
    border: 3px solid;   
    border-radius: 3px;
    margin:5px;
}

.thumbImg {
    width:100%;
	transition: 3s;
    z-index: 0;
    position: static;

}

.mask {
	height: 300px;
    width: 100%;
	bottom: 150px;
    background: transparent; /* For browsers that do not support gradients */
    background: linear-gradient( black, transparent); /* Standard syntax (must be last) */
    z-index: 1;
    position: absolute;
    transition: 2s ease;
    opacity: 1;
}

.card:hover .thumbImg {
	transform: scale(1.2,1.2);
}
.card:hover .mask{
	opacity: 0.5;
}


.card:hover .maskDesc{
	opacity: 1;
	left: 40px;
}

.card:hover .tile{
	height:100px;
}
.card:hover p{
	opacity: 1;
}

.maskDesc {
	position: absolute;
	top: 30px;
	left: 30px;
	color: white;
	z-index:1;
	max-width:50%;
	opacity:0.0;
	transition: 1s ease;
	background-color:#212121; 
	font-size:20px;

}

.tile {
  background-color: #424242;
  position: absolute;
  width:100%;
  height: 65px;
  bottom:0px;
  left:0px;
  z-index: 1;
  color: white;
  text-align: center;
  transition: 1s;
  padding: 0px;
  border-top: 3px solid #212121;
}




